
/*=====  Resets ======*/
h4 {
	margin: 0;
	font-size: 1.9rem;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
 }

.main-panel {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 1900px;
	min-height: 1000px;
}

.grid {
	position: relative;

	margin: 0 auto;
	
	height: 100%;
	width: 100%;
	max-width: 100%;
	max-height: 100%;}

.main-panel_search {
	width: 100%;
	max-width: 500px;
	margin: 15px 0 15px 0;
}

.main-panel_search > .input-field {
	background-color: #d32f2f;

}


/*=============================================
=            ITEMS            =
=============================================*/


/*=====  End of ITEMS  ======*/


.item-container {
	padding: 0;
	height: 650px;
	max-width: 500px;
	display: block;
	position: absolute;
	margin: 15px;
}

@media only screen and (min-width: 600px) {
	.item-container {
		width: 500px;
	}
}
.item-picture {
	
}

.item-header {
	height: 80px;
	padding: 10px 15px 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item-interaction {
	margin: 10px 0;
	padding: 5px 15px 5px 15px;
	border-bottom: 2px solid #eee;
}

.item-interaction_like:hover,
.item-interaction_like.--active{
	background-color: #d32f2f;
}

.item-interaction_comment:hover,
.item-interaction_comment.--active{
	background-color: #f9a825;
}


.item-comments {
	padding: 5px 15px 5px 15px;
	max-height: 50px;
	overflow-y: auto;
}

.item-comments_comment {
	word-break: break-all;
}

img {
	height: 500px;
	max-width: 500px;
	width: 100%;
	object-fit: cover;
}

#modal1 {
	padding-bottom: 50px;
}
/**
 *
 * Pagiantion
 *
 */

.pagiantion-section {
	margin: 100px 0 100px 0;
	max-width: 500px;
	margin-top: auto;
	align-self: center;
}


/*=============================================
=            NAVBAR            =
=============================================*/
.nav {
	padding-left: 15px;
}


.fixed-action-btn {
	margin: 15px 0 0 auto;
	position: relative;
	left: initial;
	right: initial;
	bottom: initial;
	max-width: 500px;

}


/*=====  End of NAVBAR  ======*/




/*=============================================
=            FOOTER            =
=============================================*/
.page-footer {
}


/*=====  End of FOOTER  ======*/

